
%rebase('bootstrap.html')

<div class="card text-center">
        <div class="card-header">
          USPEŠNO SI DODAL IZDELEK!
        </div>
        <div class="card-body">
                <h5 class="card-title">Hvala, ker si dodal svoje živilo in tako še povečal našo bazo!</h5>
          <p class="card-text">S klikom na spodnji gumb se boš vrnil v bazo vseh živil, kjer lahko preveriš ustreznost hranilnih vrednosti, ki jih tvoj izdelek vsebuje.</p>
          <form action="/baza_zivil">
            <button type="submit" class="btn btn-light">BAZA ŽIVIL IN PIJAČ</button> 
          </form>
          <p>Če imaš morda še kakšen izdelek, ki bi ga dodal, pa pritisni na sodnji gumb in ga dodaj.</p>
          <form action="/dodajanje">
            <button type="submit" class="btn btn-light">DODAJ ŽIVILO</button> 
          </form>
        </div>
</div>