
%rebase('bootstrap.html')

<div class="card text-center">
        <div class="card-header">
          PREGLED ŽIVIL
        </div>
        <div class="card-body">
          <h5 class="card-title">Ali je živilo, ki ga uživate zdravo za vaše telo?</h5>
          <p class="card-text">Ko kupite živilo, lahko na embalaži izdelka preverite vsebnost maščob, nasičenih maščob, sladkorja in soli. Kljub vidnosti prej naštetih vrednosti, pa so raziskave pokazale, da večina potrošnikov v celoti ne razume pomena teh številk. Spletna stran je bila ustvarjena z namenom, da v množici izdelkov lažje prepoznate tiste, ki so bolj zdravi za vaše telo. </p>
          <p>Spodnja tabela  prikazuje ustreznost vsebnosti posamezne hranilne vrednosti na 100g/ml izdelka. V kolikor se številka vsebnosti določene hranilne vrednosti giblje nad številko v rdečem stolpcu, je priporočeno čim manjše in ne pogosto zaužitje tega živila. V kolikor se številka giblje med številkama v oranžnem stolpcu, je vsebnost rahlo nad mejo zdravega, pretiravanje s količino zaužitja izdelka ni priporočeno. Vsebnosti manjše od številke v zelenem stolpcu so primerne za zdravo prehranjevanje, živilo predstavlja ustrezno izbiro na vašem jedilniku. Na spletni strani je pri vsakem izdelku ustreznost vsebnosti posameznih hranilnih vrednosti označena z rdečo, oranžno ali zeleno barvo.</p>
          <img src="slike/tabela.jpg" alt="tabela" width="650" height="300" >
          <form action="/baza_zivil">
            <button type="submit" class="btn btn-secondary">Baza živil in pijač</button> 
          </form>
          <form action="/dodajanje">
            <button type="submit" class="btn btn-light">Dodaj živilo</button> 
          </form>
        </div>
</div>


    

  
  